<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Howler</title>
    <link href="//cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body>

    {%- block topbar -%}
    <div class="topbar">
        <h2>
            <a href="/" class="brand">Howler</a>
        </h2>

	{% if session.user_id %}

	<a href="logout">Logout</a>

	<form method="POST" action="/">
	    <input type="text" name="howl">
	    <input type="submit" value="Submit">
	</form>

	{% else %}

	<a href="login">Login</a> / <a href="register">Register</a>

	{% endif %}


    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
